body {
    background-color: #80d4ea;
}

#clock {
    height: 100px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 70px;
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 100px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.small-clocks div {
  height: 100px;
  width: 800px;
  margin: .5em;
  padding: 20px;
  font-family: courier, monospace;
  text-align: center;
  color: lightgrey;
  font-size: 20px;
  border-radius: 50%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.small-clocks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
